body {
    text-align: center;
    background: rgba(153, 255, 102, 0.3);
    font-family: 'Coda', cursive, arial, sans-serif;
}

.modal {
    display: none;
    font-size: 36px;
}

.new-game {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    width: 150px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(70, 148, 0, 0.8);
}
